*{
    background-color: black;
    color:grey;
}
nav{
    border-width:2px;
   
    float:right;
}
nav li>a{
    color:grey;
    background-color:black;
    width:50%;
    font-size:25px;
    margin-left: 0%;
    margin-right:100%;
    display:flex;
    flex-direction: column;
    padding-bottom:60px;
    padding-top:40px;
    padding-right:40px;
    padding-left:40px;

}
#heading{
    margin-left: 0%;
    margin-bottom:0%;
    margin-top: 0%;
    font-size: 70px;
}
#heading:hover{

}
li{ 
     list-style: none;
    }
    #cont3{
      float:left; 
    }
    #para{
       padding-bottom: 10px;
    }
    #tt{
        font-family: 'Dancing Script', cursive;
        font-size: 80px
    }
    #para2{
        padding:10px;
    }
    nav li>a:hover{
        border: 2px slategrey;
        font-style: oblique;
        font-family: 'Shojumaru', cursive;
        font-stretch: ultra-expanded;
        text-decoration-style: wavy;
    }
    #icons{
        margin-top:200px;
        margin-left:500px;
        width:200px;
        padding:50px;
        display:flex;

    }
    #icons a>img{
        margin-top:-90px;
     border:1px solid grey;
    }
    #info{
        margin-left:580px;
    }
    #no{
        margin-left:580px;  
    }
    #name{
        border-radius: 10px;
       border: 2px solid grey;
       width: 200px;
    }
    #email{
        border-radius: 10px;
        border: 2px solid grey;
        width: 200px;     
    }
    #message{
        border-radius: 10px;
        border: 2px solid grey;
        width: 200px;    
        height:200px;
        padding:10px;
    }
    #brito{
        border-radius: 10px;
        float:left;
    }
    #lap img{
        margin-top:100px;
    }
    #lap{
        display:flex;
        justify-content: space-around;
    }
    #send{
        border:2px solid grey;
        width:40px;
        height:40px;
        padding-left:3px;
        border-radius: 10px;
        margin-top:20px;
    }
    #sleepy p{
        text-align:center;
        margin-top:20px;
    }
    #ii{
        font-size:20px;
        font-family: 'Old Standard TT', serif;
    }
    #screen{
        float:left;
        display:flex;
    }
    #project{
        background-color:black;
    }
    body{
        background-color:black;   
    }
    #another{
        float:right;
    }