#heading p{
    margin-top: 900px;
    margin-right: 900px;
    margin-left: 900px;
    margin-bottom: 900px;
}
body{
    background-image: url("pexels-photo-1815484.jpeg");   
}
 nav{
     color:black;
     font-size:40px;
     display:flex;
     flex-direction:row;
     justify-content: space-evenly;
     background-color:black;
 }
 nav li>a:hover{
      color:grey;
     font-size:70px;
     background-image: url("pexels-photo-1181325.jpeg")
 }
 