#heading p{
    color:black;
    font-size:70px;
    margin-left: 2px;
    text-align:center;
    margin-top:30px;
}
 nav{
     color:black;
     font-size:40px;
     display:flex;
     flex-direction:row;
     justify-content: space-evenly;
     background-color:black;
 }
 nav li>a:hover{
      color:grey;
     font-size:70px;
     background-image: url("pexels-photo-1181325.jpeg")
 }
 